
*{
background-color: white;
margin: 0;
font-family: "inter";
}


h1 {
    font-family: 'Raleway', sans-serif;
    width: 431px;
    height: 49px;
}

#nombreProducto {
    width: 581.06px;
}

.subrayado {
border-bottom-style: solid;
}

