<%- include('../partials/header') -%>

  <!-- Inicio Main -->
  <main class="content container">
    <h3 class="content__title">CREAR NUEVO ITEM</h3>
    <form class="create__form" action="/admin/create" method="POST" enctype="multipart/form-data">
    <div class="content__filter">
      <div class="content__list">
        <label for="" class="content__category">Categoría:</label>
        <select name="" id="" class="content__list--items_create">
          <option value="" disabled selected>Seleccionar</option>
        </select>
      </div>
      <div class="content__list">
        <label for="" class="content__license">Licencia:</label>
        <select name="" id="" class="content__list--items_create">
          <option value="" disabled selected>Seleccionar</option>
        </select>
      </div>
    </div>
    <div class="product">
      <label for="" class="product__name">Nombre del producto:</label>
      <input class="product__name--text_create" type="text" value="Kakashi Hatake Shippuden Saga"/>
    </div>
    <textarea class="product__desctription--text_create" class="" name="" id="" cols="60" rows="10">Descripción del producto</textarea>
    <div class="description-product">
      <div>
        <label class="description-product__sku" for="sku">SKU:</label>
        <input
          class="description-product__sku--text_create"
          type="text"
          id="sku"
          name="sku"
          value="SSK111AB001"
        />
      </div>
      <div>
        <label class="description-product__price" for="precio">Precio:</label>
        <input
          class="description-product__price--text_create"
          type="text"
          id="precio"
          name="precio" value="$ 0.000,00"
        />
      </div>
      <div>
        <label class="description-product__stock" for="stock">Stock:</label>
        <input
          class="description-product__stock--text_create"
          type="text"
          id="stock"
          name="stock" value="0"
        />
      </div>
    </div>
    <div class="promo">
      <label class="promo__descuento" for="descuento">Descuento:</label>
      <input
        class="promo__descuento--text"
        type="text"
        id="descuento"
        name="descuento"
      />
      <label class="promo__cuotas" for="cuotas">Cuotas:</label>
      <select class="promo-cuotas--items" name="cuotas" id="cuotas">
        <option class="promo__cuotas--item" value="">
          3 cuotas sin interés
        </option>
        <option class="promo__cuotas--item" value="">
          6 cuotas sin interés
        </option>
        <option class="promo__cuotas--item" value="">
          12 cuotas sin interés
        </option>
      </select>
    </div>

    <div class="select-img">
      <label class="select-img__text" for="">Imágenes:</label>
      <input class="select-img__button" type="file" name="imagenes" id="img" />
    </div>
    <div class="imagenes">
      <div class="form__flex">
        <input class="form__btn btn btn--primary btn--large" type="submit" value="Agregar Producto">
        <input class="form__btn btn btn--primary btn--large" type="reset" value="Limpiar">
    </div>
    </form>
  </main>
  <!-- Fin Main -->

  <%- include('../partials/footer') -%>
  <link rel="stylesheet" href="/css/createStyle.css">

</html>